.cards {
  background-color: white;
  width: 380px;
  padding: 10px;
  text-align: center;
  box-shadow: 0 0 15px -7px black;
  cursor: pointer;
  margin: 0 0px;
}
.cards img {
  width: 100%;
}

.cards__bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.cards__image {
  display: flex;
  align-items: center;
}
.cards p {
  margin: 15px 0px;
}
.cards:hover {
  transform: scale(1.07, 1.07);
  transition: ease-in 300ms;
}
.cards:hover a {
  background-color: darkcyan;
  color: white;
}
.cards__bottom a {
  background-color: white;
  color: darkcyan;
}
